@model MvcPhone.Models.OrderDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OrderDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idHD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idHD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idSP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idSP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.soluong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.soluong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dongia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dongia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.thanhtien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.thanhtien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.khuyenmai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.khuyenmai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.idCTHD">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
