@model MvcPhone.Models.Worker

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Worker</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idNV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idNV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hoten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hoten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sdt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sdt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.diachi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.diachi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ngaysinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ngaysinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gioitinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gioitinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.luong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.luong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.trangthai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.trangthai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.phanquyen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.phanquyen)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.STT">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
